img {
  width: 10em;
  height: 10em;
}

img.weather-icon {
  width: 5em;
  height: auto;
}

.debug {
  background-color: gold;
}

body {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

input {
  border: 1px black solid;
  border-radius: 9999px;
  padding: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}
